.sidebar{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    max-width: 270px;
    min-height: 100%;
    transform: translate3d(0,0,0);
    transition: transform .4s ease;
    box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.11);
    &.isClose{
        transform: translate3d(-270px, 0, 0);
    }


    .content{
        .sidebar-header{
            background-color: #f8f9fa;
            padding: 5px;
            margin-bottom: 5px;
            h3{
                padding-top: 5px;
            }
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
        }
    }
}